@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
}

/* .product:hover .product-card {
	display: flex;
}

.product:hover .product-hide {
	display: none;
} */

.product-card {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

.btn {
	width: 200px;
	display: flex;
	align-items: center;
	column-gap: 39px;
	padding: 18px;
	font-weight: 600;
	color: #272727;
	font-size: 15.7366px;
	line-height: 24px;
	background: #87bcd9;
	border-radius: 19.6707px;
}

.sale {
	background-image: url('./assets/bg-sale.jpg');
}

.swiper-pagination {
	position: relative;
}

.swiper-pagination-bullet {
	width: 19px;
	height: 19px;
}

.swiper-pagination-bullet-active {
	background-color: #eda415;
}

.testi {
	border: 1px solid #bababa;
}
